services:
  sia-core-api:
    build: ./sia-core-api
    container_name: sia-core-api
    ports:
      - 10083:10083
    environment:
      SOLR_URL: http://solr:8983
      SIA_MASTER_KEY: ${SIA_MASTER_KEY:-master-key-change-in-production}
      API_KEYS_FILE: /config/api_keys.json
      CORS_ORIGINS: ${CORS_ORIGINS:-http://localhost:3000,http://localhost:8080}
      #NP_TOOLS_URL: http://np-tools:102
    depends_on:
      - solr
      #- np-tools
      #networks:
      #  - np-net
    volumes:
      - ../data:/data
      - ./sia-config:/config
    deploy:
      resources:
        limits:
          memory: 100GB
        #reservations:
        #  devices:
        #    - driver: nvidia
        #      count: 1
        #      capabilities: [gpu]

  solr:
    image: solr:9.1.1
    container_name: sia-solr
    restart: always
    volumes:
      - ./db/data/solr:/var/solr
      - ./solr-plugins/NP-solr-dist-plugin/NP-solr-dist-plugin.jar:/opt/solr/dist/plugins/NP-solr-dist-plugin.jar
      - ./solr-config:/opt/solr/server/solr
      - ./solr-config/solr.in.sh:/etc/default/solr.in.sh
    ports:
      - 10085:8983
    entrypoint:
      - docker-entrypoint.sh
      - solr
      - start
      - -f
      - -c
      - -z
      - zoo:2181
      - -a
      - "-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=1044 -Djute.maxbuffer=0x5000000"
    environment:
      - SOLR_OPTS=-Dsolr.jetty.request.header.size=65535
      - SOLR_JAVA_MEM=-Xms1g -Xmx1g
    #networks:
    #  - np-net
    deploy:
      resources:
        limits:
          memory: 100GB

  solr-config:
    build: ./solr-config
    container_name: sia-solr-config
    ports:
      - 10088:81
    depends_on:
      - solr
      - zoo
    #networks:
    #  - np-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./solr-config/bash_scripts:/bash_scripts
      - ./db/data/solr:/db/data/solr
    command:
      - sh
      - -c
      - "chmod +x /bash_scripts/init_config.sh && ls /bash_scripts && bash_scripts/init_config.sh /db/data/solr/data"
    deploy:
      resources:
        limits:
          memory: 100GB

  solr-initializer:
    image: alpine
    container_name: sia-solr-initializer
    restart: "no"
    entrypoint: |
      /bin/sh -c "chown 8983:8983 /solr"
    #networks:
    #  - np-net
    volumes:
      - ./db/data/solr:/solr

  zoo:
    image: zookeeper
    container_name: sia-zoo
    restart: always
    ports:
      - 10086:8080
      - 10087:2181
    environment:
      - JVMFLAGS=-Djute.maxbuffer=50000000
    volumes:
      - ./db/data/zoo/data:/data
      - ./db/data/zoo/logs:/datalog
    #networks:
    #  - np-net
    deploy:
      resources:
        limits:
          memory: 100GB
